# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# package-manager and test caches
.npm/
.yarn/
.pnpm-store/
coverage/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision

# Metro
.metro-health-check*

# debug
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# temporary files
tmp/
temp/
*.tmp

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
Desktop.ini

# editor-specific local settings
.vscode/
.idea/

# local env files and secrets
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
